<% provide(:title, 'About') %>
<h1>About us</h1>
<p>A.N.Lab is the abbreviation of Advance and Nurture Laboratory, representing our mission and our culture. We pursue Advanced technologies as well as Nurture new ideas. The working environment in A.N.Lab simulates the atmosphere of a laboratory - where all members are encouraged to pursue their ideas and dreams.
</p>
<h1>Company name:</h1>
<p>
A.N.Lab Joint Stock Company.
</p>
<h1>Established:</h1>
<p>Business Licence No. 0103016813 by Hanoi Planning and Investment Department on dated 25 April 2007.</p>
