<% if @music.errors.any? %>
  <div id="error_explanation">
    <div style="color:red">
      The form contains <%= pluralize(@music.errors.count, "error") %>.
    </div>
    <ul style="color:red">
    <% @music.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>