<div data-role="header" data-position="fixed">
	<div class="header-logo">
		<%= link_to(image_tag("/assets/logo4.png", :alt => "logo",height: '48', width: '100'), "static_pages/home") %>
		<span class="header-text">OLMusic</span>
	</div>
	<div class="header-right-1">
		<%= link_to(image_tag("/assets/logout1.png", :alt => "logout",height: '48', width: '48'), "static_pages/home") %>
	</div>
	<div class="header-right-2">
		<%= link_to(image_tag("/assets/user3.png", :alt => "logout",height: '48', width: '48'), signup_path) %>
	</div>
	<div data-role= "navbar">
		<ul>
			<li><a href="/" data-icon="home"  >Home</a></li>
			<li><a href="/about"   data-icon="info"  >About</a></li>
			<li><a href="/contact"   data-icon="search"  >Contact</a></li>
			<li><a href="/help"   data-icon="star"  >Help</a></li>
		</ul>	
	</div><!-- /navbar-->
	<input type="search" name="password" id="search" value=""/>
</div><!-- /header -->